# Ignore Excel files
*.xls
*.xlsx
*.xlsm
*.xlsb

# Ignore CSV files
*.csv

# Optional: Ignore all files in a specific data folder (e.g., 'data' directory)
data/

# Ignore Json files
*.json

# Ignore pickle files
*.pkl

# Ignore __pycache__ directories and .pyc files
__pycache__/
*.pyc
